%h1.text-3xl.font-light.text-gray-900.mb-8.pb-4.border-b.border-gray-200
  Latest Open Source Projects

#magic-grid.grid-container
  - GH.repos.each do |repo|
    - unless repo.repository_topics_include_filter_tag?
      != partial "repo", locals: { repo: repo }

.mt-12.text-center
  %p.text-gray-600
    Check out
    %a.text-blue-600.hover:text-blue-800.underline{ href: "https://github.com/makevoid?tab=repositories" } github.com/makevoid
    for the full list of repositories
