:ruby
  description = "I'm Francesco Canessa, blockchain CTO and software developer, I code open source projects and I make videos - twitter/github/youtube/instagram: @makevoid"

!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %title Francesco 'makevoid' Canessa - Portfolio
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ :"http-equiv" => "X-UA-Compatible", content: "IE=edge" }
    %meta{ name: "description", content: description }
    %meta{ name: "keywords", content: "makevoid, bitcoin, ethereum, web-development, development, ruby, js, solidity, web3, bitcore-lib, software development, open source, open-source, web development, software, programming, video, drone video, youtube" }
    %meta{ name: "author", content: "Francesco 'makevoid' Canessa" }
    %meta{ name: "google-site-verification", content:"1IuWAn47PLQ0AQpcJGeVQjqNMrfnnj-rFJOc7BawL3w" }
    %meta{ property: "og:title", content: "makevoid - open source projects" }
    %meta{ property: "og:description", content: description }/
    %meta{ property: "og:url", content: "http://makevoid.com" }/
    %meta{ property: "og:type", content: "website" }/
    %meta{ property: "og:site_name", content: "makevoid" }/
    %meta{ property: "og:image", content: "http://makevoid.com/imgs/makevoid_fb.jpg" }/
    %meta{ property: "fb:admins", content: "makevoid" }/
    %script{ src: "https://cdn.tailwindcss.com" }
    %link{ href: "/css/vendor/bulma.css", type: "text/css", rel: "stylesheet" }
    %link{ href: "/css/style.css", type: "text/css", rel: "stylesheet" }

  -# ...

  %body{ class: "#{body_class} bg-white min-h-screen" }
    .container.max-w-6xl.mx-auto.px-4

      %section.bg-white.py-12.border-b.border-gray-200
        .text-center
          %h1
            %a{ href: "/" }
              %img.mx-auto{ width: "400", src: "/img/makevoid_logo.png" }
          %h2.text-2xl.font-light.text-gray-800.mb-6
            Francesco Canessa
          %ul.flex.justify-center.space-x-4
            - SOCIAL.each do |social_name, social_url|
              - icon = Icon.new name: social_name
              %li
                %a.text-gray-600.hover:text-gray-800.transition-colors{ href: social_url }
                  :preserve
                    #{icon.to_html}

      != partial "main_nav"

      %section.py-8
        .bg-white.border.border-gray-200.rounded-lg.p-6
          != yield
      .s50

    -# %script{ src: "/js/vendor/handlebars.js", type: "text/javascript" }
    -# %script{ src: "/js/vendor/underscore.js", type: "text/javascript" }
    %script{ src: "/js/app.js", type: "text/javascript" }
