:ruby
  description = "I'm Francesco Canessa, blockchain CTO and software developer, I code open source projects and I make videos - twitter/github/youtube/instagram: @makevoid"

!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %title Francesco 'makevoid' Canessa - Portfolio
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ :"http-equiv" => "X-UA-Compatible", content: "IE=edge" }
    %meta{ name: "description", content: description }
    %meta{ name: "keywords", content: "makevoid, bitcoin, ethereum, web-development, development, ruby, js, solidity, web3, bitcore-lib, software development, open source, open-source, web development, software, programming, video, drone video, youtube" }
    %meta{ name: "author", content: "Francesco 'makevoid' Canessa" }
    %meta{ name: "google-site-verification", content:"1IuWAn47PLQ0AQpcJGeVQjqNMrfnnj-rFJOc7BawL3w" }
    %meta{ property: "og:title", content: "makevoid - open source projects" }
    %meta{ property: "og:description", content: description }/
    %meta{ property: "og:url", content: "http://makevoid.com" }/
    %meta{ property: "og:type", content: "website" }/
    %meta{ property: "og:site_name", content: "makevoid" }/
    %meta{ property: "og:image", content: "http://makevoid.com/imgs/makevoid_fb.jpg" }/
    %meta{ property: "fb:admins", content: "makevoid" }/
    %link{ href: "/css/vendor/bulma.css", type: "text/css", rel: "stylesheet" }
    %link{ href: "/css/style.css", type: "text/css", rel: "stylesheet" }

  -# ...

  %body{ class: body_class }
    .container

      %section.hero.is-primary.is-info.is-bold
        .hero-body
          .has-text-centered
            %h1.title
              %a{ href: "/" }
                %img{ src: "/img/makevoid.png" }
            .s5
            %h2.subtitle
              Francesco Canessa
            %ul.social
              - SOCIAL.each do |social_name, social_url|
                - icon = Icon.new name: social_name
                %li
                  %a{ href: social_url }
                    :preserve
                      #{icon.to_html}

      = partial "main_nav"

      %section.content
        .box
          = yield
      .s50

    -# %script{ src: "/js/vendor/handlebars.js", type: "text/javascript" }
    -# %script{ src: "/js/vendor/underscore.js", type: "text/javascript" }
    %script{ src: "/js/app.js", type: "text/javascript" }
